@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = "~/Pages/_Layout1.cshtml";

    Index.DemoData();

    var currentUser = Index.CurrentUser;
    var currentRoleId = Index.CurrentUser.IdRole;
    var currentRoleName = string.Empty;

    if (currentRoleId == 0)
    {
        currentRoleName = currentUser.Name;
    }
}
<p class="currentUserName">User name: @(currentUser.Name)</p>
<p class="currentUserRole">Role: @currentRoleName</p>
@{
    if (Index.CurrentUser == Entities.User.Guest)
    {
        @RenderPage("~/Pages/Authentication.cshtml");
    }

    @RenderPage("~/Pages/Products.cshtml");
}