body
{
	background-color: #333333;
	padding: 5px;
}

div 
{
	background: repeating-linear-gradient(to bottom, transparent, transparent 19px, #333333 19px, #333333 23px), linear-gradient(to bottom, #e2bd61, #e29d49);
    width: 40px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
}

.column1 
{ 
	height: 113px; 
}

.column2 
{
	height: 44px; 
}

.column3 
{ 
	height: 182px; 
}

.column4 
{ 
	height: 228px; 
}

.column5 
{ 
	height: 113px; 
}

.column6 
{ 
	height: 67px; 
}