.header, .footer {
    text-align: center;
}

.footer {
    margin-top: 25px;
}

.product_block, .product_block_delete {
    display: flex;
    margin: auto;
}

.products {
    display: flex;
}

.product_order, .product {
    margin: auto;
}

.product_caption {
    margin: 0 0 35px 0;
    text-align: center;
}  

.product {
    padding: 0 25px 25px 0;
}

.product_name, .product_price, .product_quantity, .order_adress {
    padding: 2px;
}

.submit_order {
    margin: 2px;
}

.table {
    display: table;
    width: 95%;
    margin: 25px auto;
}

.subTable {
    display: table;
    width: 95%;
    margin: 10px 25px 50px 0;
}

.tableRow {
    display: table-row;
}

.tableCell, .tableCellCaption {
    display: table-cell;
    padding: 5px 5px;
}

.tableCellCaption {
    border: 1px solid #0b043338;
    font-weight: bold;
}

.tableCell {
    border: 1px solid #99999954;
}

.alertbox {
    color: #ff0000;
}