body
{
	background-color: black;
	padding-left: 35px;
	padding-right: 35px;
	font-family: arial;
}

.main
{
	background-color: white;
	border-radius: 0 0 10px 10px;
}

.caption
{
	position: relative;
	float: left;
	color: #ffb163;
	background-color: black;
	font-size: 25px;
	font-weight: bold;
	padding-right: 35px;
	padding-left: 25px;
	padding-bottom: 5px;
}

.caption:before
{
	content: "";
	width: 20%;
	height: 100%;
	position: absolute;
	background: white;
	transform: skewX(-20deg);
	transform-origin: 0 0;
	left: 100%;
}

.description
{
	background-color: white;
	padding: 15px;
	border-radius: 0 0 10px 10px;
	z-index: 2;
}