.dropdown {
	position: relative;
	display: inline-block;
	padding-right: 40px;
}

.dropdown_ul {
	color: blue;
	font-size: 16px;
	border: none;
	text-decoration: underline;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	z-index: 1;
	padding: 4px;
	border-radius: 3px 3px 0 0;
}

.dropdown_li {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	padding: 4px;
	z-index: -1;
}

.dropdown_li a {
	color: blue;
	padding: 4px;
	padding-left: 0;
	text-decoration: none;
	display: block;
}

.dropdown_li a:hover {
	background-color: blue;
	color: white;
}

.dropdown:hover .dropdown_ul {
	text-decoration: none;
	color: black;
	/*box-shadow: 0 0 4px 2px rgba(0,0,0,0.2), 0 4px 2px -2px gray; inset 10px 10px 0 red;*/
	box-shadow: 0 -4px 4px 2px rgba(0,0,0,0.2), inset 0 -4px 4px 0 white;
}

.dropdown:hover .dropdown_li {
	display: block;
	box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
}