div, p
{
    float: left;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.goToPrevPage, .countdownAction
{
    height: 110px;
    margin-top: 210px;
    font-size: 100px;
}

.goToPrevPage
{
    width: 100px;
}

.countdownAction
{
    width: 290px;
}