@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>UserAwards</title>
</head>
<body>
    <div id="message_done" class="message_done" style="display: none">
        Done
    </div>
    <div id="message_failure" class="message_failure" style="display: none">
        Failure
    </div>
    <div id="main" class="main">
        <div class="block">
            <div class="caption">
                Users operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="user_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="user_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="user_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Awards operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="award_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="award_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="award_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Join operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="join" value="join award to user" />
                </div>
                <div class="button">
                    <input type="button" class="exit" value="exit" />
                </div>
            </div>
        </div>
    </div>
    <div class="operations" style="display: none">
        <div class="user_creation">
            <h4>User creation</h4>
            <p>Name: <input type="text" class="name" placeholder=""></p>
            <p>Date of birth: <input type="date" class="date_of_birth" placeholder="Date of Birth"></p>
            <input type="button" class="user_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </div>
    </div>
</body>
</html>
