@{
    var message = string.Empty;

    var userName = string.Empty;
    var dateOfBirth = string.Empty;

    var awardTitle = string.Empty;

    if (IsPost)
    {
        UserCreation();
        AwardCreation();

        //reload page fix
        @Html.Raw("<script>document.location='https://localhost:44337/index.cshtml'</script>");
    }

    void UserCreation()
    {
        userName = Request["userName"];
        dateOfBirth = Request["dateOfBirth"];

        if (userName != null & dateOfBirth != null)
        {
            CreateUser();
        }
    }

    void AwardCreation()
    {
        awardTitle = Request["awardTitle"];

        if (awardTitle != null)
        {
            CreateAward();
        }
    }

    void CreateUser()
    {
        var userBll = new DependencyResolver()?.UserBll;
        var user = userBll?.CreateUser(userName, DateTime.Parse(dateOfBirth));
        var userAdded = userBll.UserAdded(user);

        if (userAdded)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }

    void CreateAward()
    {
        var awardBll = new DependencyResolver()?.AwardBll;
        var award = awardBll?.CreateAward(awardTitle);
        var awardAdded = awardBll.AwardAdded(award);

        if (awardAdded)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }
}

@using Common;
@using System;
@using System.Collections.Generic;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>UserAwards</title>
</head>
<body>
    @message
    <div id="main" class="main">
        <div class="block">
            <div class="caption">
                Users operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="user_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="user_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="user_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Awards operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="award_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="award_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="award_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Join operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="join" value="join award to user" />
                </div>
                <div class="button">
                    <input type="button" class="exit" value="exit" />
                </div>
            </div>
        </div>
    </div>
    <div class="operations">
        <form method="post" action="" class="user_creation" style="display: none">
            <h4>User creation</h4>
            <p class="alertbox"></p>
            <p>Name: <input type="text" id="userName" class="name" name="userName" value=@userName></p>
            <p>Date of birth: <input type="date" id="dateOfBirth" class="dateOfBirth" name="dateOfBirth" value=@dateOfBirth></p>
            <input type="submit" class="user_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="award_creation" style="display: none">
            <h4>Award creation</h4>
            <p class="alertbox"></p>
            <p>Title: <input type="text" id="awardTitle" class="title" name="awardTitle" value=@awardTitle></p>
            <input type="submit" class="award_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
    </div>
</body>
</html>