.block {
    float: left;
    padding: 25px;
    text-align: center;
}

.button {
    padding: 10px;
}

.message_done, .message_failure {
    font-weight: bold;
}

.message_done {
    color: green;
}

.message_failure, .alertbox {
    color: red;
}

.user_img {
    width: 150px;
    height: 150px;
}

.award_img {
    width: 75px;
    height: 75px;
}