.main
{
	
}

.step1 
{
	display: inline-block;
	position: relative;
	background-color: black;
	width: 100px;
	height: 26px;
}

.step1:after 
{
	display: inline-block;
	position: absolute;
	color: white;
	border-left: 13px solid;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
    content: "";
	right: -13px;
	margin-right: -4px;
	z-index: 2;
}

.step2 
{
	display: inline-block;
	position: relative;
	background-color: black;
	width: 100px;
	height: 26px;
}

.step2:after
{
    display: inline-block;
	color: black;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    position: absolute;
    right: -13px;
    margin-right: 104px;
    z-index: 2;
}

.pointer 
{
    display: inline-block;
    position: relative;
	background-color: black;
    width: 18px;
    height: 18px;
    transform: 45deg;
    transform: rotate(45deg);
    right: 13px;
    bottom: 4px;
	z-index: 1;
}

.step3
{
    display: inline-block;
    position: relative;
	background-color: black;
    width: 100px;
    height: 26px;
    margin-left: -22px;
    z-index: 0;
}

.step3:after 
{
	display: inline-block;
    position: absolute;
	color: white;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    content: "";
    right: -13px;
    margin-right: 100px;
    z-index: 2;
}