select
{
	overflow: hidden;
    height: 125px;
	width: 75px;
}

.available, .selected
{
	float: left;
	height: 125px;
	margin-right: 10px;
	text-align: center;
}

.arrow_block
{
	float: left;
	margin-right: 10px;
	padding-top: 24px;
}

.arrow_fullright, .arrow_right, .arrow_left, .arrow_fullleft
{
	width: 30px;
	margin-bottom: 10px;
}
