body {
	padding-left: 15px;
}

select {
	overflow: hidden;
	height: 125px;
	width: 75px;
}

.available, .selected {
	float: left;
	height: 125px;
	margin-right: 10px;
}

.arrow_block {
	float: left;
	margin-right: 10px;
	padding-top: 24px;
}

.arrow_fullright, .arrow_right, .arrow_left, .arrow_fullleft {
	width: 30px;
	margin-bottom: 10px;
}

b {
	display: flex;
}

.error_message {
	color: #ff0000;
}
