<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/script.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>Весёлые соседи</title>
</head>
<body>
    @RenderPage("~/Pages/_Header.cshtml")
    <div id="main" class="main">
        @RenderBody()
    </div>
    @RenderPage("~/Pages/_Footer.cshtml")
</body>
</html>