@{
    Layout = "~/Pages/_Layout.cshtml";
}
    <form method="post" action="~/Index.cshtml" class="user_change_password">
        <h4>Смена пароля</h4>
        <p class="alertbox"></p>
        <p>
            <input type="password" class="old_pass" name="oldPass" placeholder="Старый пароль" />
        </p>
        <p>
            <input type="password" class="new_pass" name="newPass" placeholder="Новый пароль" />
        </p>
        <p>
            <input type="password" class="new_pass_confirm" placeholder="Новый пароль еще раз" />
        </p>
        <p>
            <input type="submit" class="submit_change_password" value="Ок" style="float: left;" />
        </p>
    </form>
    <form method="post" action="~/Index.cshtml" class="user_log_out" style="float: left;">
        <input type="submit" class="log_out" value="Отмена" style="margin-left: 15px;" />
    </form>