@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = null;
}
    
<form method="post" action="~/Pages/Orders.cshtml" class="user_log_out">
    @{
        var currentRole = Dependencies.RoleLogic.GetById(Index.CurrentUser.IdRole);

        if (currentRole.OrderWrite)
        {
            var userType = string.Empty;

            var customer = Dependencies.CustomerLogic.GetByUserId(Index.CurrentUser.Id);

            if (customer != null)
            {
                userType = "customer";
            }

            <input type="text" name="id" value="@customer.Id" style="display: none;" />
            <input type="text" name="userType" value="@userType" style="display: none;" />
            <input type="submit" class="myOrders" value="Мои заказы" />
        }
    }
    <a href="~/Index.cshtml">
        <input type="submit" class="log_out" value="Выйти" />
    </a>
    <input type="text" class="log_out_post" style="display: none;" name="loggedOut" />
</form>
