@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = null;
}
    
<form method="post" action="" class="user_log_out">
    @{
        var currentRole = Dependencies.RoleLogic.GetById(Index.CurrentUser.IdRole);

        if (currentRole.OrderWrite)
        {
            <a href="~/Pages/Orders.cshtml" style="text-decoration: none">
                <input type="button" class="myOrders" value="Мои заказы" />
            </a> 
        }
    }
    <a href="~/Index.cshtml">
        <input type="submit" class="log_out" value="Выйти" />
    </a>
    <input type="text" class="log_out_post" style="display: none;" name="loggedOut" />
</form>
