@{
    Layout = null;

    <form id="feedback" class="feedback_add" action="" method="post">
        <h4>Отзыв а работе сайта</h4>
        <p class="alertbox"></p>
        <p class="feedback_message"></p>
        Ваше имя:
        <p>
            <input type="text" class="feedback_name" name="feedbackName" />
        </p>
        Ваш отзыв:
        <p>
            <textarea class="feedback_comment" name="feedbackComment" maxlength="300"></textarea>
        </p>
        <p>
            <input type="submit" class="submit_feedback_add" value="Отправить" />
        </p>
    </form>
}