@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = null;
    <h4 class="product_caption">Товары</h4>
    <div class="products">
        @{
            var products = Dependencies.ProductLogic.GetAll();
            foreach (var product in products)
            {
                <div class="product">
                    <div class="product_name">@product.Name</div>
                    <div class="product_price">@product.Price руб.</div>
                </div>
            }
        }
    </div>
}